body{
    background-color: black;
    color: white;
}
.Poster{
    text-align: center;
    width: 50%;  
    font-family: 'Dancing Script', cursive; 
    margin-top: 100px;
    margin-left: 25%;

}
h1 {
    text-transform: uppercase;
}
.motivation{
    border: 6px white solid ;
    width: 10em;
    border-radius: 10px;
}

.paragraph{
    text-align: end;
}